###  Custom ###
.classic-output/
.ignored-output/

###  VisualStudioCode ###
.vscode/

###  Project ### 
.dockerignore
.gitignore
Dockerfile
LICENSE
One-Stage.Dockerfile
One-Stage.Dockerfile.dockerignore
Readme.md

###  DotnetCore ###
src/bin
src/obj
src/Properties